/* A little birdy told me that I should initialize my CSS with these settings */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Added some gradient magic for the background color! */
body {
    text-align: center;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Roboto Thin', arial;
}

/* Some retro hosted fonts I found! */
.header {
    font-family: 'Alien Encounters', arial;
    font-size: 72pt;
    color: #ff2300;
    text-shadow: 4px 4px 4px rgba(255, 105, 180, 0.8); 
    margin-top: 15px;
}

.signature {
    font-family: 'American Retro', arial;
    font-size: 32pt;
    margin-bottom: 15px;
}

/* Trick I found to center divs */
.center-div {
    margin: 0 auto;
}

/* Trick I found to right align divs */
.right-div {
    position: absolute;
    right: 0;
}

.grid-container {
    margin-top: 12px;
    position: relative;
    display: inline-block;
}

input[type=number] {
    width: 4em;
    font-family: 'Roboto Thin', arial;
    background: #eee;
    border: none;
    padding: 3px;
}

i {
    padding-right: 6px;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12pt;
    display: block;
    cursor: pointer;
    z-index: 9;
}

#about, #settings {
    position: relative;
    padding-left: 12px;
}

.hint {
    padding-top: 12px;
    padding-left: 6px;
    font-size: 10pt;
    font-style: italic;
}

/* Not gonna lie, I copied this from W3 Schools and modified it! */
/* The Modal (background) */
#modalAbout {
    display: none; /* Hidden by default */
}

#modalSettings {
    display: none; /* Hidden by default */
}

#modalSettings td {
    padding: 3px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4); /* White w/ opacity */
    color: #000;
    font-size: 14pt;    
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 6px 40px 6px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    height: 300px;
    text-align: left;
    position: relative;
}

.modal-title {
    margin-top: -30px;
    text-align: center;
    z-index: 1;
    font-weight: 600;
}

.centered {
    position: absolute;
    left: 33%;
    top: 50%;
    -webkit-transform: translate(-25%, -50%);
    transform: translate(-25%, -50%);
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

button {
    color: #000;
    background: rgba(255, 255, 255 , 0);
    border: solid 1px #000;
    padding: 5px;
    font-family: 'Roboto Thin', arial;
}

button:hover,
button.hover {
    border-color: #0072ff;
    color: #0072ff;
    background-color: #eee;
}

button:active,
button.active {
    border-color: #00c6ff;
    color: #00c6ff;
    background-color: #ccc;
}

.grid-div {
    display: inline-block;
    position: relative;
    padding-top: 26px;
}

/* Table settings ------------------------- */
/* Here I am doing some fancy CSS basically so I could have rounded table corners. */
/* This took a lot of googling and trial and error.  There doesn't seem to be a */
/* standard to perform this. */

#pixelCanvas {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    z-index: 10;
    cursor: crosshair;
}

#pixelCanvas tr {
    height: 20px;
}

#pixelCanvas td {
    width: 20px;
}

#pixelCanvas td:nth-child(even) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#pixelCanvas td:first-child {
    border-left: 1px solid #fff;
}

#pixelCanvas td:last-child {
    border-right: 1px solid #fff;
}  

#pixelCanvas tr:nth-child(even) td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#pixelCanvas tr:first-child td {
    border-top: 1px solid #fff;
}

#pixelCanvas tr:last-child td {
    border-bottom: 1px solid #fff;
}

#pixelCanvas tr:first-child td:first-child {
    border-radius: 6px 0 0 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

#pixelCanvas tr:first-child td:last-child {
    border-radius: 0 6px 0 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

#pixelCanvas tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

#pixelCanvas tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;    
}

/* ---------------------------------- */
